[submodule "Karen-Masters"]
	path = Karen-Masters
	url = git@github.com:sciserver/ComputationalPhysicsUnit.git
[submodule "Mattia-Almansi"]
	path = Mattia-Almansi
	url = git@github.com:sciserver/JHU-MITgcm_Tools
